body { 
	font-family: Arial, Helvetica, sans-serif;
	}
h1 {
	color: red;
}

.sidebar-toc {
	width: 20%;
	position: fixed;    
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

.sidebar-toc h4 {
	margin-top: 0px;
}

.sidebar-toc ul {
	padding: 0px;
}

.sidebar-toc ul li {
	list-style: none;
}

.sidebar-toc ul li.toc-h1 {
	margin-top: 15px;

}

.sidebar-toc ul li a {
	text-decoration: none;
}

.sidebar-toc ul li.toc-h1 a {
	margin-top: 15px;
	padding-top: 15px;
	font-weight: bold;
}

.sidebar-toc ul li.toc-h2 a {
	margin-left: 15px;
}

.content-post {
	margin-left: 22%;
	width: 80%;
}